<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
{% include 'blog/header.html' %}
<div class="col-3">
 <table class="table table-striped">
                        <tr>
                            <td class="w-25">Заголовок</td>
                            <td>{{blog.title}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Содержимое</td>
                            <td>{{blog.content}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Дата создания</td>
                            <td>{{blog.created_at}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Количество просмотров</td>
                            <td>{{blog.number_views}}</td>
                        </tr>
                    </table>
</div>
{% include 'blog/footer.html' %}
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>